# First check is local to playbook directory
# Next is home directory (if this then file must be called .ansible.cfg)
# last check is in /etc/ansible/
# First match wins!

[defaults]
inventory = /home/student/ans/inv/dev/hosts
host_key_checking = no
record_host_keys = /dev/null
## 
retry_files_enabled = False
##library = ~/.ansible/riles/paloaltonetwork.paloaltonetworks/library
library = ~/ans/library/
